.aboutme--wrapper {
  @media screen and (min-width: $medium-break){
    flex-basis: 35%;
    margin-top: 2em;
  }
}

.aboutme--wrapper__text {

  padding: 1em 2em;

  border: solid 1px #f1f1f1;
  border-radius: 10px;
  text-align: left;

  h1 {
    font-size: 2em;
    line-height: 2;
  }

  h2 {
    font-size: 1.4em;
    line-height: 1.5;
  }

  p {
    padding: 1em 0;
    line-height: 1.5;
  }

  b {
    font-weight: bold;
  }

  a {
    color: green;
    text-decoration: underline;
    font-weight: bold;
  }
}

.aboutme--wrapper__image {

  position: absolute;
  left: 70%;

  img {
    display: inline-block;
    height: 100px;
    border-radius: 50%;
  }

  legend {
    display: none;
  }
}