.site--header {
  @media screen and (min-width: $small-break){
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em 1.5em;
    position: static;
    top: 0;
    width: 100%;
    z-index: 10;

    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, .5);
    justify-content: space-between;
  }

  @media screen and (min-width: $small-medium-break){
    height: 80px;
  }

  @media screen and (min-width: $medium-break){
    position: fixed;
  }

  .title {
    @media screen and (min-width: $small-break){
      width: 100%;

      font-size: 28px;
      text-align: center;
    }
    @media screen and (min-width: $small-medium-break){
      width: 30%;
    }
  }

  .slogan {
    display: block;
    font-size: 15px;
    font-weight: normal;
    // text-transform: uppercase;
  }

  nav {
    @media screen and (min-width: $small-break){
      display: flex;
      justify-content: space-evenly;
      margin-top: 1em;
      width: 100%;

      a {
        padding: 0;
      }
    }
    @media screen and (min-width: $small-medium-break){
      max-width: 30vw;
      width: 70%;
    }
  }

  .title {
    color: #35495e;
  }

  .subtitle {
    color: #526488;
  }

}