.job--details__wrapper {
  @media screen and (min-width: $small-break){
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
  }
  @media screen and (min-width: $medium-break){
    height: calc(100vh - 81px);
    overflow: hidden;
  }
  @media screen and (min-width: $large-break){
    .job--title {
      font-size: 3em;
    }
  }
}

.job--details__image,
.job--details__item {
  @media screen and (min-width: $small-medium-break){
    height: 100%;
    width: 50%;
  }
}

.job--details__image {
  @media screen and (min-width: $small-break){
    height: 50vw;
    order: 1;
    overflow: scroll;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.job--details__item {
  @media screen and (min-width: $small-break){
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    // align-content: center;
    // justify-items: center;
    padding: 1em;
    order: 2;
    overflow: scroll;
    position: relative;

    text-align: center;
  }

  @media screen and (min-width: $medium-break){
    justify-content: center;
    padding: 0 5em;
  }
}