
@keyframes progressSkill {
  from {
    width: 0;
  }
}


@keyframes progressSkillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showContainer{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes scroll_up {
  from {
    top: 0;
  }

  to {
    top: -20%;
  }
}