@mixin delay-progressbar($delay:1s) {
  .progress--bar {
    animation: 1s ease-in-out $delay 1 alternate forwards progressSkillBar;

    div {
      animation: 1.5s ease-in-out ($delay + 1) 1 both progressSkill;
    }
  }
}

@mixin show-container($delay:1s){
  animation: .5s linear ($delay + 1) 1 both showContainer;
}