---
export interface Props {
  unit: string;
	value: number;
	title: string;
}

const { unit, value, title } = Astro.props;
---
<div class="card">
  <div class="skill-level">
    <span>{unit}</span>
    <h2>{value}</h2>
  </div>
  
  <div class="skill-meta">
    <h3>{title}</h3>
    <span><slot></slot></span>
  </div>
</div>