---
export interface Props {
  point: string;
	date: string;
}

const { point, date } = Astro.props;
---
<span class="point">{point}</span>
<p class="description">
  <slot></slot>
</p>
<span class="date">{date}</span>