---
import AchievementItem from '../components/AchievementItem.astro'
---
<section class="cards">
  <AchievementItem unit="+" value="15" title="Years of experience">
    Adapting and creating solutions for customer's needs
  </AchievementItem>
  <AchievementItem unit="+" value='04' title="Blog Posts" link="https://blog.rhams.es">
    I write about Web APIs, backend development and cool tutorials.
  </AchievementItem>
  <!-- <AchievementItem unit="+" value="03" title="Years as Tech Lead">
    --
  </AchievementItem>
  <AchievementItem unit="%" value="30" title="Technical solutions">
    --
  </AchievementItem> -->
</section>

<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  @media(min-width: 768px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>

<!-- <script type="module">
  var teste = "asdasd";
  fetch("http://blog.rhams.es/wp-json/wp/v2/posts")
  .then(res => console.log(res.headers.get("x-wp-total")))
</script> -->

