<footer class="footer">
  <span>
    Built with Astro.build by
    <a href="#">Rhamses</a>.
    Coded by 
    <a href="https://newtodesign.com/">New to design </a>.
    Designed by 
    <a href="https://dribbble.com/shots/4342703-Minimal-resume-freebie-for-junior-self-taught-people">Nicolas Meuzard</a>.
  </span>
</footer>

<style>
  .footer {
    padding: 2rem;
    
    font-size: 1rem;
    text-align: center;
  }
  @media(min-width: 800px) {
    .footer {
      padding: 5rem 5rem 2.5rem 5rem;
    }
  }
</style>