<header>
  <div class="container">
    <div class="hero">
      <div class="hero--inner">
        <figure class="avatar">
          <img src="https://www.gravatar.com/avatar/bcc2a3ae01d8feb84f5bad3436e1400a?s=150" alt="">
        </figure>
        <div>
          <h1 class="name"><strong>Rhamsés</strong> Soares</h1>
          <div class="social">
            <a href="mailto:hi@rhams.es" class="social--link">hi@rhams.es</a>
            <a href="https://linkedin.com/in/rhamses">
              <span class="social--link">Linkedin</span>
            </a>
            <a href="https://github.com/rhamses">
              <span class="social--link">Github</span>
            </a>
          </div>
        </div>
        <a href="https://www.segurosunimed.com.br/" target="_blank" class="job">
          <span class="job--title">Tech Lead</span>
          <span class="job--location">@ Unimed Seguros</span>
        </a>
      </div>
      <h2 class="lead">Development and design of web applications 
        for startups and large companies</h2>
      </div>
    </div>
  </header>
  
  <style>
    @media all and (min-width: 0) {
      .hero {
        margin: 2rem 0;
        position: relative;
      }
      
      .avatar img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
      }
      
      h1.name {
        font-size: 70px;
        font-weight: 300;
        display: inline-block;
      }
      
      .job {
        vertical-align: top;
        background-color: #D9E7F8;
        color: #4A90E2;
        font-weight: 600;
        margin-top: 2rem;
        border-radius: 5px;
        display: inline-block;
        padding: 15px;
        line-height: 1;
      }

      .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: .5em;
      }

      .social--icone {
        height: 24px;
      }
      
      .social--link {
        font-size: 24px;
        font-weight: 300;
        color: #81899C;
        text-transform: lowercase;
      }
      
      .lead {
        font-size: 44px;
        font-weight: 300;
        margin-top: 60px;
        line-height: 55px;
      }
    }

    @media all and (min-width: 800px) and (max-width: 1024px) {
      h1.name {
        font-size: 4rem;
      }
      
      .job {
        font-size: 1rem;
      }

      .job--location {
        display: block;
      }
    }
    
    @media all and (min-width: 800px) {
      .hero {
        margin: 50px auto;
      }
      
      .hero--inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .job {
        margin-top: 0;
      }
    }
  </style>